.panel{
    margin-top: 15px;
}
figure{
    padding-top: 5px;
}
.centrado img{
    display: block;
    margin: 0 auto;
    border: 1px solid rgba(201,184,145, 0.4);
}
figcaption{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bolder;
}
h4{
    color: #2583AF;
    font-weight: bold;
}