.error-message {
  color:red;
}
  
.oculto {
  display: none;
}

  /*../Platillos/index.ctp/class="platillo"*/
/* .platillo img{
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
}
.platillo img:hover{
    opacity: 0.5;
} */
.platillo-hover:hover{
  opacity: 0.5;
}

.pedido{
  font-size: 18px;
  font-weight: bold;
  color: rgb(37, 131, 175);
}

.precio{
  font-weight: bold;
  font-size: 18px;
  color: rgb(100, 95, 95);
}

.subtotal{
  font-weight: bold;
  font-size: 20px;
  color: green;
}

.flash-msg{
    position: absolute;
    top: 10px; 
    right: 10px;
    z-index: 10000;
}
    /*../Pedidos/view.ctp"*/
.remove {
  color: #C9302C;
  font-size: 1.3em;
}
.remove:hover {
  color: rgb(240, 108, 104);
}
.tr { text-align: right }
    
.total {
  font-size: 20px;
  font-weight: bold;
}
 .img-pedidos{
   width: 60px;
 }

.fila-seleccion-platillos{
  padding-top: 10px;
  border-bottom: 1px solid #58C56F;
}

/*Estilos para los mensajes de notificación*/
#notificacion {
  width: 100%;
  position: absolute;
	right: 0;
  left: 0;
  top: 0;
	margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  display:none;
}

.contenido-color{
  background-color: rgb(224, 221, 221);
}